
<div class="container">
    <h2>Hello, <%= user %></h2>
    /addAdd Task</a>
    /logoutLogout</a>

    <h3>Your Tasks</h3>

    <% tasks.forEach(t => { %>
        <div class="task-card" data-due="<%= t.due %>">
            <h3><%= t.title %></h3>
            <p>Priority: <%= t.priority %></p>
            <p>Due: <%= t.due %></p>

            <a class="btn" href="/edit/<%= t.id %>">Edit</a>
            <e</a>
        </div>
    <% }) %>
</div>

/client.js</script>
