
<div class="container">
    <h2>Edit Task</h2>
    <form action="/edit/<%= task.id %>" method="POST">
        <input name="title" value="<%= task.title %>">
        <select name="priority">
            <option <%= task.priority=="High"?"selected":"" %>>High</option>
            <option <%= task.priority=="Medium"?"selected":"" %>>Medium</option>
            <option <%= task.priority=="Low"?"selected":"" %>>Low</option>
        </select>
        <input type="date" name="due" value="<%= task.due %>">
        <button class="btn">Update</button>
    </form>
</div>
